body{
	background: #acb6e5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Montserrat;
}

.container{
	margin: 0 auto;
	padding-top: 80px;
	max-width: 700px;
}

.navbar-brand {
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 6px;
	line-height: 30px;
	font-size: 30px;
	font-weight: 700;
}

.navbar-fixed-left {
  max-width: 175px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 175px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.navbar-fixed-right {
  width: 350px;
  height: 100vh;
  border-radius: 0;
	top: 0;
	right: 0!important;
  left: auto!important;
  border-width: 0 0 0 1px!important;
  position: fixed;
  border-radius: 0;
  height: 100%;
	padding-top: 60px;
	text-align: center;
}

.navbar-fixed-right .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 350px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-fixed-right + .container {
  padding-right: 160px;
}

.score-board {
	text-transform: uppercase;
	color: #9d9d9d;
	letter-spacing: 4px;
	word-spacing: 8px;
	line-height: 50px;
	font-size: 60px;
	font-weight: 700;
}

.thumbnail{
	padding-bottom: auto;
	height: 90px;
	width: 100%;
}

@media (max-width: 800px) {
	.thumbnail {
		height: 150px;
	}
}

.col-lg-3 .col-md-3 .col-sm-3{
	width: 25%;
}

.redux{
  height:500px;
	width:100%;
	align-content: center;
	padding : 50px auto;
	margin-right: 10%;
}

#areset{
	text-decoration: none;
}

a:link{
	text-decoration: none;
	color: #9d9d9d;
}

a:visited{
	text-decoration: none;
	color: #9d9d9d;
}

#score {
	font-size: 100px;
	font-weight: 800;
	color: #bdbdbd;
	letter-spacing: 4px;
}

.button {
  border-radius: 4px;
  background-color: #222;
  color: #bdbdbd;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.pics{
          width: 120px;
					height: 120px;
					border-radius: 50%;
}
#sidelove{
	color: white;
	float: right;
	padding-top: 15px;
font-size: 10px;
padding-bottom: 8px;
}
#devi{
	height: 250px;
}
#deviName{
	padding-left: 15px;
	padding-top: 100px;

}

#deviName a:link{
	color: black;

}
#deviName a:visited{
 color: black;
}
#love{
	padding-top: 15px;
text-align: center;
}
#love a:link{
	color: black;

}
#love a:visited{
	color: black;
}
#congoBut{
	text-align: center;
}
#congClose{
	float:right;
}



// Mixins/Vars
// ======================
$btn-color--primary: rgba(41, 118, 223, 1);
$btn-shadow: rgba(41, 118, 223, 0.5);
$btn-shine: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(250,198,100,.27) 100%);
$btn-color--success: rgba(0,208,0,1);
$btn-shadow--success: rgba(0,208,0,0.5);

@mixin btn-shadow($color) {
    box-shadow: 0 15px 40px 0 $color;
}

/* Helpers
====================== */
.u-imgResponsive {
    max-width: 100%;
}
.u-btn {
    flex: 0 0 100%;
    padding: 14px 20px;
    border: 0;
    background: $btn-shine, $btn-color--primary;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all .2s ease;
    @include btn-shadow($btn-shadow);

    &:hover {
        opacity: 0.9;
    }
    &.u-btn--success {
        background: $btn-color--success;
        @include btn-shadow($btn-shadow--success);
    }
}

/* Global
====================== */
html {
    box-sizing: border-box;
    height: 100%;
    box-sizing: inherit;
}

/* Modal
====================== */
.modal {
    top: 30px;
		bottom: 30px;
		left: 250px;
		right: 250px;
    box-shadow: 0 60px 80px 0 rgba(0,0,0,.4);
}
.modal-top {
    padding: 30px 30px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(251,251,251,1);
}
.modal-icon {
    display: block;
    max-width: 207px;
    margin: 0 auto 65px;
}
.modal-header {
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
}
.modal-subheader {
    max-width: 350px;
    margin: 0 auto;
    font-size: 19px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: center;
    color: #999;
}
.modal-bottom {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
}
.modal-btn {
    margin: 60px auto;
}

/*****************/
/* Media Queries */
/*****************/

@media (min-width: 456px) {
    .modal-bottom {
        padding: 20px auto;
    }
    .modal-btn {
        flex: 1;
        margin: 0;
        max-width: 190px;

        &:nth-of-type(2) {
            margin-left: 30px;
        }
    }
}

@media (max-width: 1150px) {
	#left-side-bar {
		padding: 25px;
	}
	#left-bar-links {
		margin-left: 350px;
	}
	#right-side-bar {
		text-align: center;
		padding: 50px;
	}
	#game-body {
		padding-top: 25%;

	}
}

.dev:link{
    text-decoration: none;
}

.dev:hover{
    text-decoration: none;
}
