body{
	background: #acb6e5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Montserrat;
}

.container{
	margin: 0 auto;
	padding-top: 80px;
	max-width: 700px;
}

.navbar-brand {
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 6px;
	line-height: 30px;
	font-size: 30px;
	font-weight: 700;
}

.navbar-fixed-left {
  max-width: 175px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 175px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.navbar-fixed-right {
  width: 350px;
  height: 100vh;
  border-radius: 0;
	top: 0;
	right: 0!important;
  left: auto!important;
  border-width: 0 0 0 1px!important;
  position: fixed;
  border-radius: 0;
  height: 100%;
	padding-top: 60px;
	text-align: center;
}

.navbar-fixed-right .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 350px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-fixed-right + .container {
  padding-right: 160px;
}

.score-board {
	text-transform: uppercase;
	color: #9d9d9d;
	letter-spacing: 4px;
	word-spacing: 8px;
	line-height: 50px;
	font-size: 60px;
	font-weight: 700;
}

.thumbnail{
	padding-bottom: auto;
	height: 90px;
	width: 100%;
}

.col-lg-3 .col-md-3 .col-sm-3{
	width: 25%;
}

.redux{
  height:500px;
	width:100%;
	align-content: center;
	padding : 50px auto;
	margin-right: 10%;
}

#areset{
	text-decoration: none;
}

a:link{
	text-decoration: none;
	color: #9d9d9d;
}

a:visited{
	text-decoration: none;
	color: #9d9d9d;
}

#score {
	font-size: 100px;
	font-weight: 800;
	color: #bdbdbd;
	letter-spacing: 4px;
}

.button {
  border-radius: 4px;
  background-color: #222;
  color: #bdbdbd;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
