html {
    box-sizing: border-box;
    height: 100%;
    box-sizing: inherit;
}

body {
	background: #acb6e5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Montserrat;
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.dev-modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  height: 250px;
}

.dev-profile-container {
	display: flex;
	justify-content: space-between;
	margin: 0 20px;
}

.dev-profile {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.nav-li {
	display: block;
	padding: 15px;
	font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.nav-li:hover {
	background-color: rgb(238, 238, 238);
}

.app-container {
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.modal-overlay {
	position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
	z-index: 100;
}

.modal-open .modal-overlay {
	display: block;
}

.navbar {
	height: 100%;
	margin-bottom: 0;
	background-color: #222;
  border-color: #080808;
}

.left-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  width: 175px;
}

.right-nav {
  width: 350px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.game-tile {
	width: 21%;
}

.thumbnail{
	padding-bottom: auto;
	height: 90px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
  transition: border .2s ease-in-out;
	margin-bottom: 20px;
}

.score-board {
	text-transform: uppercase;
	color: #9d9d9d;
	letter-spacing: 4px;
	word-spacing: 8px;
	line-height: 50px;
	font-size: 60px;
	font-weight: 700;
}

.container{
	margin: 0 auto;
	padding-top: 80px;
	max-width: 540px;
	width: 100%;
}

#score {
	font-size: 100px;
	font-weight: 800;
	color: #bdbdbd;
	letter-spacing: 4px;
}

.navbar-brand {
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 6px;
	line-height: 30px;
	font-size: 30px;
	font-weight: 700;
	padding: 15px;
}

.left-nav .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 175px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
}

.right-nav .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 350px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
}

.right-nav + .container {
  padding-right: 160px;
}

.game-grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
}



#areset{
	text-decoration: none;
}

a:link{
	text-decoration: none;
	color: #9d9d9d;
}

a:visited{
	text-decoration: none;
	color: #9d9d9d;
}

.button {
  border-radius: 4px;
  background-color: #222;
  color: #bdbdbd;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.pics {
  width: 120px;
	height: 120px;
	border-radius: 50%;
  margin: auto;
}
#sidelove{
	color: white;
	padding-top: 15px;
	font-size: 10px;
	padding-bottom: 8px;
	margin: 0;
	letter-spacing: 2px;
	font-weight: 500;
}
#deviName{
	padding-left: 15px;
	padding-top: 100px;

}

#deviName a:link{
	color: black;

}
#deviName a:visited{
 color: black;
}
.love{
	padding-top: 15px;
  text-align: center;
}
.love a:link{
	color: black;

}
.love a:visited{
	color: black;
}
#congoBut{
	text-align: center;
}
#congClose{
	float:right;
}



// Mixins/Vars
// ======================
$btn-color--primary: rgba(41, 118, 223, 1);
$btn-shadow: rgba(41, 118, 223, 0.5);
$btn-shine: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(250,198,100,.27) 100%);
$btn-color--success: rgba(0,208,0,1);
$btn-shadow--success: rgba(0,208,0,0.5);

@mixin btn-shadow($color) {
    box-shadow: 0 15px 40px 0 $color;
}

/* Helpers
====================== */
.u-imgResponsive {
    max-width: 100%;
}
.u-btn {
    flex: 0 0 100%;
    padding: 14px 20px;
    border: 0;
    background: $btn-shine, $btn-color--primary;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all .2s ease;
    @include btn-shadow($btn-shadow);

    &:hover {
        opacity: 0.9;
    }
    &.u-btn--success {
        background: $btn-color--success;
        @include btn-shadow($btn-shadow--success);
    }
}

/* Modal
====================== */
.modal {
	position: fixed;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  box-shadow: 0 60px 80px 0 rgba(0,0,0,.4);
	z-index: 200;
	display: none;
}
.modal-dialog {
	width: 600px;
	margin: 30px auto;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-content {
	background: white;
	border-radius: 6px;
}
.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
	float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.modal-body {
	padding: 15px;
	color: rgb(51, 51, 51);
	font-size: 14px;
	line-height: 20px;
}
.modal-top {
    padding: 30px 30px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(251,251,251,1);
}
.modal-icon {
    display: block;
    max-width: 207px;
    margin: 0 auto 65px;
}
.modal-header {
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
		padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-footer {
	border-top: 1px solid #e5e5e5;
	padding: 15px;
	text-align: right;
}
.modal-title {
	font-size: 30px;
	font-weight: 500;
	color: rgb(51, 51, 51);
	margin: 0;
}
.modal-subheader {
    max-width: 350px;
    margin: 0 auto;
    font-size: 19px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: center;
    color: #999;
}
.modal-bottom {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
}
.modal-btn {
    margin: 60px auto;
}
.btn {
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
@media (min-width: 456px) {

    .modal-bottom {
        padding: 20px auto;
    }
    .modal-btn {
        flex: 1;
        margin: 0;
        max-width: 190px;

        &:nth-of-type(2) {
            margin-left: 30px;
        }
    }
}
.dev:link{
    text-decoration: none;
}
.dev:hover{
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
	.app-container {
		display: flex;
		flex-direction: column;
	}

	.navbar {
		width: 100%;
		height: 100px;
	}

	.bottom-content {
	  position: static;
		width: 100%;
		padding-left: 20px;
	}

	.mobile-hidden {
		display: none;
	}

	.thumbnail {
		height: 65px;
	}

	.container{
		padding-top: 20px;
	}

	.score-board {
		font-size: 50px;
		margin: 0;
		margin-top: 15px;
	}

	.score-container {
		margin-bottom: 0;
	}

	#score {
		font-size: 80px;
	}

	.modal-dialog {
		width: 100%;
		height: 100vh;
    margin: 0;
		display: flex;
		flex-direction: column;
		background-color: white;
	}

	.modal-top, .modal-bottom {
		border-radius: 0;
	}

	.right-nav {
		height: auto;
	}

	.container {
		flex-grow: 1;
	}

	.right-nav-links {
		display: flex;
		padding-bottom: 10px;
	}

	.nav-li {
		padding: 0 15px;
	}

	.dev-profile-container {
		flex-direction: column;
	}

  .dev-modal {
    height: auto;
  }
}
